{% extends "base.html" %}
{% block title %}PurBeurre - Selection des produits à substituer{% endblock %}
{% block content %}
<header class="minhead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Mes Produits</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <h2 class="text-faded mb-5">
                    {{ user.username }} : Consultez vos produits enregistrés
                </h2>
            </div>
        </div>
    </div>
</header>
<section>
    {% include 'search/list.html' %}
</section>
{% endblock %}