{% extends "base.html" %}
{% block title %}PurBeurre - Selection des produits à substituer{% endblock %}
{% block content %}
<header class="minhead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Affinons votre sélection!</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <h2 class="text-faded mb-5">
                    {% if element_number > 0 %}
                        Voici des propositions de produits de substitution
                    {% else %}
                        Nous n'avons malheureusement pas trouvé de produit de substitution
                    {% endif %}
                </h2>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 container">
                <div class="row justify-content-center">
                    {% if element_number > 0 %}
                        {% for element in list %}
                            <div class="card product-card col-md-4 col-sm-12 col-12">
                                <img class="card-img-top" src="{{ element.image_url }}" alt="{{ element.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ element.name }} <span class="badge badge_pill badge-success">{{ element.nutriscore }}</span></h5>
                                    <p class="card-text">{{ element.description }}</p>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <a href="{% url 'search:product' code=element.ref %}" class="btn btn-primary">Selectionner</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="col-lg-8">
                        <h3>
                            Donnez-nous quelques précisions supplémentaires sur le type de produit souhaité
                        </h3>
                        <form class="form-inline form-homepage" action="{% url 'search:choice' %}" method="get">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                {{ home_form.search }}
                                <div class="input-group-append">
                                    <button type="submit" class="btn-submit-home btn btn-primary btn-xl">Chercher</button>  
                                </div>
                            </div>
                        </form>
                    </div>  
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}