{% extends "base.html" %}
{% block title %}Pur Beurre - Créer un compte{% endblock %}
{% block content %}
{% load static %}
{% if envoi %}On est ok{% endif %}
<header class="minhead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Créez-vous un compte!</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <h2 class="text-faded mb-5">
                    Enregistrez et consultez vos produits préférés
                </h2>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <form class="col-lg-8" action="" method="post">
                {% csrf_token %}
                {% if error %}
                    {% if user_exist %}
                    <div class="alert alert-danger">
                        L'identifiant existe déjà. Veuillez en choisir un autre.
                    </div>
                    {% endif %}
                    {% if password_problem %}
                    <div class="alert alert-danger">
                        Il y a un problème au niveau de la sélection du mot de passe.
                    </div>
                    {% endif %}
                {% endif %}
                <div class="form-group">
                    {{ register_form.username.label }}
                    {{ register_form.username }}
                </div>
                <div class="form-group">
                    {{ register_form.mail.label }}
                    {{ register_form.mail }}
                </div>
                <div class="form-group">
                    {{ register_form.password.label }}
                    {{ register_form.password }}
                </div>
                <div class="form-group">
                    {{ register_form.password_check.label }}
                    {{ register_form.password_check }}
                </div>
                <button type="submit" class="btn-submit-user btn btn-block btn-primary">S'inscrire</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}