// Styling for buttons and links
.btn-submit-home {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
}

.btn-submit-user {
    border-radius: 5px;
}

.register-block {
    margin-top: 15px;
}

.btn-submit-register {
    border-radius: 5px;
    margin: 10px;
    border: solid 1px $secondary;
}